<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/stylesheet.css">
</head>
  </head>
  <body>

    <div class="sidenav">
      <a href="#slideshow">Slideshow</a>
  
    </div>
    
    <div class="main">
     
      <div class='slideshow', id='slideshow'>
        This is the slideshow area
      </div>
      <div class='slideshow-grid'></div>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
      <button>Hello</button>
    </div>
       
    </body>
</html>